/** @format */

.Container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-items: center;
}

.login-form {
	width: 60%;
}

.input-form {
	display: flex;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.input-containers {
	display: flex;
	flex-direction: column;
}

.btn-submit {
	background-color: rgb(123, 255, 123);
	padding: 5px 10px;
	margin: 5px;
}
